html {
  height: 100%;
  width: 100%;
}

body {
  background-color: aquamarine;
  font-family: "VT323", monospace;
}

.main {
  display: flex;
  flex-direction: column;
}

// @media screen and (min-width: 1200px){
//   .main {
//     width:1200px;
//   }
// }
